body {
    background-color: rebeccapurple;
    height: auto;
}

#country-container {
    display: flex;
    flex-direction: row;
    height: 98.75vh;
    font-family: "Lucida Console", "Courier New", monospace;
    justify-content: space-between;
}

#country-selector {
    display: flex;
    flex-direction: column;
    background-image: url("/public/images/world-dots-opacity-adj-world-map.png");
    background-size: cover;
    width: 50%;
    height: 100%;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
}

#country-display {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, darkseagreen, darkolivegreen);
    width: 50%;
    height: 100%;
    padding-left: 25px;
    border-radius: 20px 0px 0px 20px;
}

#country-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12px;
}

#flag {
    max-width: 35%;
}

#dropdown {
    display: flex;
    flex-direction: column;
    font-family: "Lucida Console", "Courier New", monospace;
}

.big-button {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-size: 16px;
    font-family: "Lucida Console", "Courier New", monospace;
}

#favs-button-div {
    padding-top: 45px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.favsButton {
    font-family: "Lucida Console", "Courier New", monospace;
}

#display-favs-div {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 5px;
}

#favs-in-selector {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 30px;
}

.reactIcon {
    position: relative;
    top: 3px;
    left: 4px;
    color: green
}
