 /* .app {
    display: flex;
    align-items: center;
} */



body {
    background-color: rebeccapurple;
    height: auto;
}


#CountryContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: lightgray;
    font-family: "Lucida Console", "Courier New", monospace;
    justify-content: space-between;
    border-radius: 2%;
}


#CountrySelector {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: space-around;
}

.country-display {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    background-color: darkolivegreen;
    /* padding: 15px; */
    border-radius: 2%;
}



#flag {
    max-width: 30%;
}


#dropdown {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-family: "Lucida Console", "Courier New", monospace;
}

#addToFavsButton {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-family: "Lucida Console", "Courier New", monospace;
}

#favsButton {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-family: "Lucida Console", "Courier New", monospace;
}
/*

#favsButtonDiv {
    padding: 15px;
}

.deleteButton {
    font-family: "Lucida Console", "Courier New", monospace;
}

.visitUnvisitButton {
    font-family: "Lucida Console", "Courier New", monospace;
}

#checkmark {
    height: 12px;
    width: 12px;
}

#favsDiv {
    display: flex;
}

.reactIcon {
    position: relative;
    top: 3px;
    left: 4px;
    color: green
} */