body {
    background-color: rebeccapurple;
    height: auto;
}

button {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-family: "Lucida Console", "Courier New", monospace;
}

select {
    display: flex;
    flex-direction: column;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1.1rem;
    padding: 8px 12px;
    height: 40px;
    width: 70%;
}

#country-container {
    display: flex;
    flex-direction: row;
    height: 98.75vh;
    font-family: "Lucida Console", "Courier New", monospace;
    justify-content: space-between;
}

#country-display {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, darkseagreen, darkolivegreen);
    width: 50%;
    height: 100%;
    padding-left: 25px;
    border-radius: 20px 0px 0px 20px;
}

#country-selector {
    display: flex;
    flex-direction: column;
    background-image: url("/public/images/world-dots-opacity-adj-world-map.png");
    background-size: cover;
    width: 50%;
    height: 100%;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
}

.country-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 28%;
    margin-bottom: 12px;
}

.flag {
    max-height: 70%;
    max-width: 45%;
}

.big-button {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 280px;
    font-size: 22px;
}

.favs-button-div {
    padding-top: 45px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.favs-list-item {
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
}

.favs-list-item-buttons {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-right: 24px;
}

.favs-button {
    width: 80px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.react-icon {
    position: relative;
    top: 3px;
    left: 4px;
    color: green
}

.add-fav-div {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 20%;
}

.favs-in-selector {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 30px;
}
